hr{
	background-color: #6A0888;
	height:3px;
	width:100px;
	margin-left:0%;
}
img{
	-webkit-filter:brightness(70%);
	filter:brightness(70%);
	height: 210px;
	width: 210px;
	margin: 20px;
	border: 3px solid black;
}
div{
	display: inline-block;
}
p{
  position: relative;
  float: left;
  overflow: hidden;
  margin:-40px -200px 20px 50px;
  color:#2EFEF7;
  
}
.1{
	top:30px;
	position:absolute;
}
.2{
	left:290px;
	top: 90px;
	position:absolute;
}
.3{
	left: 570px;
	top: 90px;
	position: absolute;
}
.4{
    top:375px;
	position:absolute;
}
.5{
	left: 290px;
	top:375px;
	position: absolute;
}
.6{
	left: 570px;
	top: 575px;
	position: absolute;
}